#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav li {
  float: left;
}

#nav a:link, a:visited {
  display: block;
  width: 170px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #a5a92d;
  text-align: center;
  padding: 9px;
  text-decoration: none;
  text-transform: uppercase;
}

#nav a:hover, a:active {
  background-color: #563312;
}

#nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

#nav2 li {
  float: left;
}

#nav2 a:link, a:visited {
  display: block;
  width: 100x;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #FFCC00;
  text-align: center;
  padding: 9px;
  text-decoration: none;
  text-transform: uppercase;
}

#nav2 a:visited {
  background-color: #FFCC00;
}

#nav2 a:hover, a:active {
  background-color: #FFFF00;
}

.top h1 {
  text-align: center;
  color: #d6d6d6;
  font-size: 46px;
}

body {
  background-color: #424242;
}

.left {
  float: left;
  border: solid;
  padding: 10px;
  border-color: #a5a92d;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 14%;
  height: 70%;
}

.left ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

.left a:link, a:visited {
  display: block;
  width: 150px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #a5a92d;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

.left a:hover, a:active {
  background-color: #563312;
}

.center {
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 70%;
}

.right {
  float: right;
  border: solid;
  border-color: #a5a92d;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  height: 70%;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 560px;
    height: 440px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#login {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: solid;
  color: yellow;
}

#login form {
  text-align: center;
}

#account {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: 70%;
  border: solid;
  padding 20px;
  color: yellow;
  padding: 30px;
}

#account iframe {
 text-color: yellow;
}
