#nav {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  background-color: #323232;
  padding: 2px;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

#nav li {
  display:inline;
}

#nav a:link, a:visited {
  display: inline-block;
  width: 170px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #CC6600;
  text-align: center;
  padding: 9px;
  text-decoration: none;
  text-transform: uppercase;
}

#nav a:visited {
  background-color: #CC6600;
}

#nav a:hover, a:active {
  background-color: #563312;
}

#nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

#nav2 {
  float: left;
  padding-left: 30px;
  padding-right: 40px;
}

#nav2 a:link, a:visited {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #FFCC00;
  padding: 9px;
  text-decoration: none;
}

#nav2 a:visited {
  background-color: #FFCC00;
}

#nav2 a:hover, a:active {
  background-color: #FFFF00;
}

.top h1 {
  text-align: center;
  color: #d6d6d6;
  font-size: 46px;
}

body {
  background-color: #424242;
  height: 500px;
}

.section {
  border: solid;
  border-width: 1px;
  border-color: #a5a92d;
  color: #DADADA;
  padding: 5px;
  margin-bottom: 5px;
}

.bar {
  float: left;
  margin-top: 3%;
  margin-left: 2%;
  background-color: #323232;
  width: 15%;
  font-size: 100%;
  color: yellow;
}

.bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

.bar a:link, a:visited {
  display: block;
  width: 150px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #a5a92d;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

.bar a:hover, a:active {
  background-color: #563312;
}

.center {
  float: left;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 70%;
}

.right {
  float: right;
  border: solid;
  border-color: #a5a92d;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  height: 70%;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 65%;
    height: 550px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#login {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: solid;
  color: yellow;
}

#login form {
  text-align: center;
}

#account {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 100%;
  border: solid;
  color: yellow;
  padding: 30px;
}

#account iframe {
  float: left;
  width: 35%;
  height: 50%;
}

#account h2 {
  text-align: center;
}

#contact {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: yellow;
  border: solid;
  border-width: 1px;
  border-color: yellow;
  text-align: center;
  width: 72%;
}

#contact a {
  color: #FFFFFF;
}

#contact a:visited {
  color: #FFFFFF;
}

#contact a:hover, a:active {
  color: #FFFFFF;
}

#files {
  background-color: #323232;
}
