{% extends 'cdc/base.html' %}
{% load staticfiles %}
{% block content %}
<div id="contact">
    <p><strong><i>"Robbing you one dollar at a time"</i></strong></p>
    <p>We are a company of people, working with other people. There is nothing else that we'd rather be doing. You know
    you have found the right job when it no longer feels like work. That is the environment we like to provide at
    CDC, for both our employees and clients. All work and no play is a nonexistent paradox. It is our job to do our job correctly,
    and there is hardly anything that can get in our way. That is the way it should be, and it will reign true throughout the future.</p>

    <p>If there is anything we can do to make your business better, please take some time to <a href="{% url 'cdc:contact' %}">contact us</a>.</p>
</div>
{% endblock%}
