{% extends 'cdc/base.html' %}
{% load staticfiles %}
{% block content %}
{% if script %}
    <script>alert("You have been successfully logged out. Have a nice day!");</script>
    {% endif %}
    <div class="bar">
        <div class="section">
            This company is so great. The reason we do the things we do is because we do them, and we do them great. There is no doubt as to the excellence held within.
            Without people like this working so hard, it is not likely that others on the internet would be able to succeed. In fact, there is something about people who
            are truly capable of working this hard. It is so amazing that the foundation of the internet completely depended on their successes. With our success, people
            in the future are much more likely to become successful if they try.
        </div>
        <div class="section">
            Because true excellence is not to be taken for granted, it is only possible that the best of the best make it past the most complicated and challenging challenges in
            the world through hard work, perseverence, and intelligence, only to be risen above all as the sun rises unquestionably every single day of the week, month, and of course, year.
        </div>
    </div>
    <script src="{% static 'cdc/jquery.min.js' %}"></script>
    <script>
        $(function() {

            $("#slideshow > div:gt(0)").hide();

            setInterval(function() {
                $('#slideshow > div:first')
                .fadeOut(1000)
                .next()
                .fadeIn(1000)
                .end()
                .appendTo('#slideshow');
            },  6000);

        });
    </script>
    <div class="center">

        <div id="slideshow">
            <div>
                <img src="{% static 'cdc/images/fountain.jpg' %}" width="100%" height="100%">
            </div>
            <div>
                <img src="{% static 'cdc/images/statue.jpg' %}" width="100%" height="100%">
            </div>
            <div>
                <img src="{% static 'cdc/images/ceiling.jpg' %}" width="100%" height="100%">
            </div>
            <div>
                <img src="{% static 'cdc/images/building.jpg' %}" width="100%" height="100%">
            </div>
        </div>
    </div>
    <div class="bar">
         <div class="section">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris sollicitudin dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus fringilla hendrerit lectus nec vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In faucibus, risus eu volutpat pellentesque, massa felis feugiat velit, nec mattis felis elit a eros. Cras convallis sodales orci, et pretium sapien egestas quis. Donec tellus leo, scelerisque in facilisis a, laoreet vel quam. Suspendisse arcu nisl, tincidunt a vulputate ac, feugiat vitae leo. Integer hendrerit orci id metus venenatis in luctus tellus convallis. Mauris posuere, nisi vel vehicula pellentesque, libero lacus egestas ante, a bibendum mauris mi ut diam. Duis arcu odio, tincidunt eu dictum interdum, sagittis quis dui.
        </div>
    </div>
{% endblock %}
