{% load staticfiles %}
<meta charset="UTF-8">

<head>
    <link rel="stylesheet" href="{% static 'cdc/style.css' %}">
    <title>
        Welcome to CDC!
    </title>
</head>
<body>{% if script %}
        <script>alert("You have been successfully logged out. Have a nice day!");</script>
      {% endif %}
    <div class="top">
        <header class="">
            <h1>Welcome to CDC Title</h1>
        </header>
    </div>
    <div id="nav">
        <ul>
            <li><a href="{% url 'cdc:index' %}">Home</a></li>
            <li><a href="#two">Testimonials</a></li>
            <li><a href="#three">Contact Us</a></li>
            <li><a href="#four">About</a></li>
            <li><a href="{% url 'cdc:login' %}">Log In</a></li>
        </ul>
    </div>
    <div class="left">
    </div>
    <div class="center">
        <div id="sections">
            <section id="one">
            </section>
            <section id="two">
            </section>
            <section id="three">
            </section>
            <section id="four">
            </section>
        </div>
    </div>
</body>
