{% load staticfiles %}
<meta charset="UTF-8">

<head>
    <link rel="stylesheet" href="{% static 'cdc/style.css' %}">
    <title>
        Welcome to CDC!
    </title>
</head>
<body>
    <div class="top">
        <header class="">
            <h1>Welcome to CDC Title</h1>
        </header>
    </div>
    <div id="nav">
        <ul>
            <li><a href="{% url 'cdc:index' %}">Home</a></li>
            <li><a href="#two">Testimonials</a></li>
            <li><a href="#three">Contact Us</a></li>
            <li><a href="#four">About</a></li>
            <li><a href="{% url 'cdc:login' %}">Log In</a></li>
        </ul>
    </div>
    <br/><br/>
    <div id="login">
        <form action="{% url 'cdc:login' %}" method="post"><br/>
           Company name:
            <br/><input type="text" name="company"/><br/>
           Account number:
            <br/><input type="text" name="account"/><br/>
           PIN:
           <br/><input type="password" name="pin" size="4" maxlength="4"/><br/><br/>
        <input type="submit" value="login"/>
        <input type="hidden" name="next" value="True"/>
        <br/><br/>
        {{ error }}
        </form>

    </div>
</body>
